@model List<Appointment>

<h1>Your Appointments</h1>

@if (Model.Any())
{
    <table class="table">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Day of Week</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
            {
                <tr>
                    <td>@appointment.Patient.Name</td>
                    <td>@appointment.AppointmentDate</td>
                    <td>@appointment.AppointmentDate.ToString("ddd")</td>
                    <td>@appointment.StartTime</td>
                    <td>@appointment.EndTime</td>
                    <td>@appointment.Description</td>
                    <td>
                        <form asp-action="EditAppointment" asp-controller="Appointment" method="get">
                            <input type="hidden" name="appointmentId" value="@appointment.Id" />
                            <button type="submit" class="btn btn-warning">Check</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No appointments found.</p>
}
