@model List<DoctorSchedule>

@{
    ViewData["Title"] = "Doctor Schedules";
}
<h2>All the Doctors / Create New Schedule</h2>
<ul>
    @if (ViewData["AllTheDoctors"] is List<auth.Models.Domain.User> allDoctors)
    {
        foreach (var doctor in allDoctors)
        {
            <li>@doctor.Name : <a asp-action="CreateDoctorSchedule" class="btn btn-success"
                    asp-route-doctorId=@doctor.Id>Create</a></li>
        }
    }
    else
    {
        <p>No doctors available.</p>
    }
</ul>
<h1>Current week Doctor Schedules</h1>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">
    @TempData["ErrorMessage"]
</div>
}
<table class="table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Specialty</th>
            <th>Date</th>
            <th>Day of Week</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["CurrentWeekSchedules"] is List<DoctorSchedule> currentWeekSchedules)
        {
            foreach (var schedule in currentWeekSchedules)
            {
                <tr>
                    <td>@schedule.Doctor.Name</td>
                    <td>@schedule.Doctor.Specialty_Doc</td>
                    <td>@schedule.DoctorDate.ToShortDateString()</td>
                    <td>@schedule.DoctorDate.ToString("dddd")</td>
                    <td>@schedule.StartTime</td>
                    <td>@schedule.EndTime</td>
                    <td>
                        <form asp-action="EditDoctorSchedule" method="get">
                            <input type="hidden" name="scheduleId" value="@schedule.Id" />
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form asp-action="DeleteDoctorSchedule" asp-route-scheduleId="@schedule.Id" method="post"
                            onsubmit="return confirm('Are you sure you want to delete this schedule?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <form asp-action="CopyScheduleForNextWeek" method="post">
                            @* @Html.AntiForgeryToken() *@
                            <input type="hidden" name="doctorId" value="@schedule.DoctorId" />
                            <input type="hidden" name="scheduleId" value="@schedule.Id" />
                            <button type="submit" class="btn btn-success">CopySchedule</button>
                        </form>
                    </td>
                </tr>
            }
            <form asp-action="CopyCurrentWeekSchedules" method="post">
                <button type="submit" class="btn btn-primary">Copy Current Week's Schedule</button>
            </form>
        }
        else
        {
            <p>No schedules available for the current week.</p>
        }
    </tbody>
</table>

<h1>Next week Doctor Schedules</h1>

<table class="table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Specialty</th>
            <th>Date</th>
            <th>Day of Week</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["NextWeekSchedule"] is List<DoctorSchedule> nextWeekSchedule)
        {
            @foreach (var schedule in nextWeekSchedule)
            {
                <tr>
                    <td>@schedule.Doctor.Name</td>
                    <td>@schedule.Doctor.Specialty_Doc</td>
                    <td>@schedule.DoctorDate.ToShortDateString()</td>
                    <td>@schedule.DoctorDate.ToString("ddd")</td>
                    <td>@schedule.StartTime</td>
                    <td>@schedule.EndTime</td>
                    <td>
                        <form asp-action="EditDoctorSchedule" method="get">
                            <input type="hidden" name="scheduleId" value="@schedule.Id" />
                            <button type="submit" class="btn btn-warning">Edit</button>
                        </form>
                        <form asp-action="DeleteDoctorSchedule" asp-route-scheduleId="@schedule.Id" method="post"
                            onsubmit="return confirm('Are you sure you want to delete this schedule?');">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <form asp-action="CopyScheduleForNextWeek" method="post">
                            @* @Html.AntiForgeryToken() *@
                            <input type="hidden" name="doctorId" value="@schedule.DoctorId" />
                            <input type="hidden" name="scheduleId" value="@schedule.Id" />
                            <button type="submit" class="btn btn-success">CopySchedule</button>
                        </form>

                    </td>
                </tr>
            }
            <a asp-action="AllDoctorSchedules" class="btn btn-primary">Show All Doctor Schedules</a>

        }
    </tbody>
</table>


@* <h2>All the Doctors</h2>
<ul>
@if (ViewData["AllTheDoctors"] is List<auth.Models.Domain.User> allDoctors)
{
foreach (var doctor in allDoctors)
{
<li>@doctor.Name : <a asp-action="CreateDoctorSchedule"class="btn btn-primary" asp-route-doctorId=@doctor.Id>Create More
Schedule</a></li>
}
}
else
{
<p>No doctors available.</p>
}
</ul> *@
